.light{
    --color1: black;
    --color2: white;
    --color3: red;
    --face: url(lightface.png);
}

.dark{
    --color1: white;
    --color2: black;
    --color3: rgb(230, 123, 15);
    --face: url(darkface.png);
}

#clock {
    position: relative;
    margin: auto;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: var(--color2);
    background-image: var(--face);
    background-size: cover;
    
}

#border {
    position: relative;
    margin: auto;
    height: 302px;
    width: 303px;
    border-radius: 50%;
    border: 10px solid;
}

#centre {
    position: absolute;
    background: var(--color1);
    width: 5%;
    height: 5%;
    top: 47%;
    left: 46.5%;
    border-radius: 10px;
}
  
#hour, #min, #sec {
    position: absolute;
    background: var(--color1);
    border-radius: 10px;
    transform-origin: bottom;
}
  
#hour {
    width: 2.4%;
    height: 25%;
    top: 24%;
    left: 48%;
    opacity: 0.8;
    background: var(--color1);
}
  
#min {
    width: 1.7%;
    height: 33%;
    top: 17%;
    left: 48%;
    opacity: 0.8;
    background: var(--color1);
}
  
#sec {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49%;
    opacity: 0.8;
    background: var(--color3);
}

#twelve, #three, #six, #nine {
    position: absolute;
    background: none;
    font-size: 330%;
    color: var(--color3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#date, #day {
    position: absolute;
    background: var(--color1);
    color: var(--color2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 115%;
    width: 10%;
    height: 8%;
    left: 63%;
    border-radius: 10%;
    opacity: 0.9;
}

#date{
    top: 49%;
}

#day{
    top: 42%;
}

#twelve {
    top: 3%;
    left: 42%;
}

#three {
    top: 41%;
    left: 89%;
}

#six {
    top: 80%;
    left: 46%;
}

#nine{
    top: 41%;
    left: 5%;
}
